<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <!-- Permissions -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">

        <!-- Main Activity (Launcher) -->
        <activity
            android:name="com.example.myapplication.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Register Activity -->
        <activity
            android:name="com.example.myapplication.Register"
            android:exported="true" />

        <!-- Student Activity -->
        <activity
            android:name="com.example.myapplication.StudentActivity"
            android:exported="true" />

        <!-- Login Activity -->
        <activity
            android:name="com.example.myapplication.Login"
            android:exported="true" />

        <!-- Chat Activity -->
        <activity
            android:name="com.example.myapplication.ChatActivity"
            android:exported="true" />

        <!-- Lecturer Activity -->
        <activity
            android:name="com.example.myapplication.LecturerActivity"
            android:exported="true" />

    </application>

</manifest>
